body {
    background: -webkit-gradient(linear, left top, left bottom, from(#324e4e), to(#000000)) fixed;"
}
div.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

}
div.title {
    font-family: Orbitron;
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
    color: white;
    position: relative;
}
div.contactDetails {
    text-align: center;
    font-family: Jura;
    color: white;
    font-size: 15px;
    margin-top: 15px;
    position: relative;
}
div.title div.contactDetails span#smallLeftLine {
    top: -1px;
    height: 20px;
    border-left: 2px #00cccc solid;
    margin-left: 10px;
    margin-right: 10px;
}

div.title div.contactDetails span#smallRightLine {
    top: -1px;
    height: 20px;
    border-left: 2px #00cccc solid;
    margin-left: 10px;
    margin-right: 10px;
}
div.bulletsHeadline {
    margin-top: 70px;
    color: white;
    font-family: Jura;
    font-size: 20px;
    margin-left: 42%;
    padding-right: 20px;
    position: relative;
}
ul.bullets  {
    color: #00cccc;
    font-size: 16px;
    margin-top: 20px;
    text-align: left;
    width: auto;
    position: relative;
}
/*div.verticalLine {
    border-left: 2px solid #00cccc;
    height: 450px;
    margin-left: 40%;
    margin-top: 140px;
    position: absolute;
}
*/
@media screen and (max-width: 800px) {
    div.title {font-size: 40px;}
    div.contactDetails {font-size: 12px;}
}


