body {
    background: -webkit-gradient(linear, left top, left bottom, from(#34495e), to(#000000)) fixed; -webkit-linear-gradient(0deg,red 10%,yellow 30%,green 60%);
}
div.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
div.title {
    font-family: Orbitron;
    font-size: 60px;
    margin-top: 50px;
    text-align: center;
    color: white;
    position: relative;
}
div.title div.contactDetails {
    text-align: center;
    font-family: Jura;
    color: white;
    font-size: 15px;
    margin-top: 15px;
    text-decoration: none;
    position: relative;
}
div.title div.contactDetails span#smallLeftLine {
    top: -1px;
    height: 20px;
    border-left: 2px #00cccc solid;
    margin-left: 10px;
    margin-right: 10px;
}
div.title div.contactDetails span#smallRightLine {
    top: -1px;
    height: 20px;
    border-left: 2px #00cccc solid;
    margin-left: 10px;
    margin-right: 10px;
}
div.content {
    width: 800px;
    margin: 0 auto;
    text-align: left;
    padding-top: 15px;
}
div.bulletsHeadline {
    color: white;
    font-family: Jura;
    font-size: 20px;
    margin-left: 42%;
    margin-top: 30px;
    position: relative;
}
div.bulletsHeadlineMiddle {
    margin-top: 20px;
    color: white;
    font-family: Jura;
    font-size: 20px;
    margin-left: 42%;
    position: relative;
}
div.bulletsHeadlineBottom {
    margin-top: 20px;
    color: white;
    font-family: Jura;
    font-size: 20px;
    margin-left: 42%;
    position: relative;
}
div.bulletsHeadline div.bullet {
    margin-top: 0px;
    color: #00cccc;
}
#leftTop {
    position: relative;
    margin-top: 25px;
    color: white;
}
div.bulletsHeadlineMiddle div.bullet {
    margin-top: 0px;
    color: #00cccc;
}
#leftMiddle {
    position: relative;
    margin-top: 25px;
    color: white;
}
div.bulletsHeadlineBottom div.bullet {
    color: #00cccc;
    position: relative;
}
#leftBottom {
    position: relative;
    margin-top: 25px;
    color: white;
}
span.lineColor {
    color: white;
    margin-left: 15px;
}
div.content div.verticalLine {
    border-left: 2px solid #00cccc;
    margin-left: 23%;
    margin-top: 4px;
    margin-bottom: 0px;
    height: 82.5%;
    position: absolute;
}
div.print a img {
    position: fixed;
    width: 30px;
    margin-top: 20px;
    padding-left: 50px;
}
div.download a img{
    position: fixed;
    width: 30px;
    margin-top: 20px;

}
/*@media screen and (max-width: 360px) {
    div.title {margin: 0 auto; font-size: 40px; padding-top: 10px;}
    div.title div.contactDetails {margin: 0 auto; font-size: 12px; padding-top: 10px;}
    div.bulletsHeadline {font-size: 12px; padding-top: 20px;}
    div.bulletsHeadlineMiddle { top: 15px; font-size: 12px;}
    div.bulletsHeadlineBottom { top: 30px; font-size: 12px;}
    div.content {width: 360px; padding-left: 25px; padding-bottom: 30px;}
    div.print a img {margin-top: 50px; margin-left: 110px;}
    div.download a img {margin-top: 50px; margin-left: 90px;}
}*/
@media screen and (max-width: 375px) {
    div.title {margin: 0 auto; font-size: 40px; padding-top: 10px;}
    div.title div.contactDetails {margin: 0 auto; font-size: 12px; padding-top: 10px;}
    div.bulletsHeadline {margin: 0 auto; font-size: 12px; padding-top: 20px;}
    div.bulletsHeadlineMiddle {margin: 0 auto; top: 15px; font-size: 12px;}
    div.bulletsHeadlineBottom {margin: 0 auto; top: 15px; font-size: 12px;}
    div.content {width: 360px; padding-left: 25px; padding-bottom: 30px;}
    div.print a img {margin-top: 50px; margin-left: 110px;}
    div.download a img {margin-top: 50px; margin-left: 90px;}
    #leftTop {top: 10px;}
    #leftMiddle {top:5px; margin-top: 10px;}
    #leftBottom {top: 5px; margin-top: 25px;}
}

